body{
    height: 1500px;
    background-color: black;
    margin: 0;
    padding: 0;
    color: #ffff;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    }
.text-center akan{
    color: #ffff;
    }
.my-4{
    box-shadow: 2px 2px 2px 0px;
    color: #fff;
    margin: 0
    }
.output{

}
img{
    display: inline;
}
