body{
    height: 1500px;
    background-color: black;
    margin: 0;
    padding: 0;
    color: #ffff;
    font-family: 'Merienda One', cursive;
    }
    h1{
    color: #ffff;
    }
    .my-4{
    box-shadow: 2px 2px 2px 0px;
    color: #fff;
    }
    p {
    text-align: center;
    color: #ffff;
    font-size: large;
    }
    .p-text{
    margin-top: 30px;
    }
    .form-control{
    color: black;
    }